<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% if not eml %}
        <link rel="stylesheet" href= {{ rpt.url_for_static("css/bootstrap.css") }} crossorigin="anonymous">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">{% block content %}{% endblock %}</div>
    <div id="footer" align="center">
        {% block footer %} <br>
        <p class="text-muted">orbita40.space</p>
        {% endblock %}
    </div>
</body>
</html>