{% import 'macro.html' as lib %}
{% extends "base.html" %}
{% set title = "Отчет по трудозатратам" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Задача</th>
            <th>Содержание</th>
            <th>Инициатор</th>
            <th>Сервис</th>
            <th>Создана</th>
            <th>Закрыта</th>
            <th>Исполнитель</th>
            <th align="right" class="text-success" title="Трудозатраты">ЧЧ</th>
        </tr>
    </thead>
    <tbody>
        {%  set body = rpt._D().body %}
        {% for rec in body %}
        <tr>
            <td align="right">{{ loop.index }}.</td>
            <td nowrap> <a href="https://prosto12.intraservice.ru/Task/View/{{ rec.task_id }}">{{ rec.task_id }}</a></td>
            <td>{{ rec.task_name|truncate(70) }}  <small class="text-muted">{% if rec.task_descr %}{{(rec.task_descr)|truncate(200)}}{% endif %}</small></td>
            <td>{{ rec.creator }}</td>
            <td>{{ lib.mark_service(rec.parent_service, rec.service) }}</td>
            <td nowrap>{{ ("%s"|format(rec.created))[: 11] }}</td>
            <td nowrap>
            {% if rec.closed %}
                {{ ("%s"|format(rec.closed))[: 11] }}
            {% endif %}
            </td>
            <td nowrap>{{ rec.executor }}</td>
            <td align="right">{{ (rec.minutes/60)|round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <th colspan="8"></th>
        <th align="right">{{ (body|sum(attribute='minutes')/60)|round(1) }}</th>
    </tfoot>
</table>
{% endblock %}