{% import 'macro.html' as lib %}
{% extends "base.html" %}
{% set frame = rpt._P().frame %}
    {% if frame == 'daily' %}
    {% endif %}

    {% if frame == 'daily' %}
        {% set caption = "Helpdesk ежедневный отчет" %}
        {% set util_table_class='col-md-8' %}
    {% elif frame == 'weekly' %}
        {% set caption = "Helpdesk отчет за неделю" %}
        {% set util_table_class='col-md-12' %}
    {% elif frame == 'monthly' %}
        {% set caption = "Helpdesk отчет за месяц" %}
        {% set util_table_class='col-md-8' %}
    {% endif %}
{% set srv_table_class='col-md-6' %}

{%- macro task_util(report, task_v, task_d, util_v, util_d) -%}
    {{ lib.detail_link(report, task_v, task_d) }}
    {% if util_v %}
        ({{ lib.detail_link(report, (util_v/60)|round(1), util_d) }})
    {% else %}
        ({{ lib.detail_link(report, 0, util_d) }})
    {% endif %}
{%- endmacro -%}

{% block title %}
    [{{frame}}] {{caption}}
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>[{{frame}}] <small>{{ caption }}</small></h1>
    <small class="text-muted">{{ lib.mark_date(rpt._P().from) }} -- {{ lib.mark_date(rpt._P().to)  }}</small>

{% set navigation = {'monthly': 'Прошлый месяц', 'weekly': 'Прошлая неделя', 'daily': 'Сегодня'} %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for frame, caption in navigation.items() %}
            {% if rpt._P().frame == frame %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href="{{ rpt.url_for('report', rpt._N()[frame]) }}">{{ caption }}</a></li>
        {% endfor %}
    </ul>
</nav>

{% if rpt._D().srv.body.__len__()  %}
<div class="row">
    <div class="{{ srv_table_class }}">
        <table class="table table-condensed">
            <caption>Движения по сервисам</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Сервис</th>
                    <th>Принято</th>
                    <th>Закрыто</th>
                    <th>В работе</th>
                    <th>Без движения</th>
                    <th>Без плана</th>
                </tr>
            </thead>
            {% for r in rpt._D().srv.body %}
            <tr>
                <td align="right">{{ r.seq }}</td>
                <td>{% if r.parent %} -- {% endif %} {{ r.name }}</td>
                <td align="right">{{ lib.detail_link(rpt, r.income, r.income_d) }}</td>
                <td align="right">{{ lib.detail_link(rpt, r.closed, r.closed_d)}}({{lib.detail_link(rpt, (r.closed_exp/60)|round(1, 'common'), r.closed_exp_d)}})</td>
                <td align="right">{{ lib.detail_link(rpt, r.open, r.open_d) }}</td>
                <td align="right">{{ lib.detail_link(rpt, r.no_exec, r.no_exec_d) }}</td>
                <td align="right">{{ lib.detail_link(rpt, r.no_deadline, r.no_deadline_d) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="{{ util_table_class }}">
        <table class="table">
            <caption>Задачи и оценки</caption>
            <thead>
                <tr>
                    <td colspan="2"></td>
                    {% if frame in ['daily'] %}
                    <td colspan="7"><b>{{lib.mark_title("Текущая неделя", "ТТ (ЧЧ), где ТТ -- закрытые заявки, ЧЧ -- трудозатраты за период")}}</b></td>
                    {% elif frame in ['weekly'] %}
                    <td colspan="7"><b>{{lib.mark_title("Прошлая неделя", "ТТ (ЧЧ), где ТТ -- закрытые заявки, ЧЧ -- трудозатраты за период")}}</b></td>
                    {% endif %}
                    {% if frame in ['weekly'] %}
                    <td colspan="3"><b>{{lib.mark_title("Предыдущие недели", "ТТ (ЧЧ), где ТТ -- закрытые заявки, ЧЧ -- трудозатраты за период")}}</b></td>
                    {% endif %}
                    {% if frame in ['monthly'] %}
                    <td colspan="3"><b>{{lib.mark_title("Предыдущие месяцы", "ТТ (ЧЧ), где ТТ -- закрытые заявки, ЧЧ -- трудозатраты за период")}}</b></td>
                    {% endif %}
                    <td colspan="5"><b>{{ lib.mark_title("Оценки", "5 -- очень хорошо, 1 -- совсем плохо") }}</b></td>
                </tr>
                <tr>
                    <th>#</th>
                    <th>{{ lib.mark_title('ФИО', 'Исполнитель [T], где T - заявки, открытые на исполнителя') }}</th>
                    {% set eval_class = "" %}
                    {% if frame in ['daily', 'weekly'] %}
                    <th class="info">ПН</th>
                    <th class="info">ВТ</th>
                    <th class="info">СР</th>
                    <th class="info">ЧТ</th>
                    <th class="info">ПТ</th>
                    <th class="info">СБ</th>
                    <th class="info">ВС</th>
                    {% endif %}
                    {% if frame in ['weekly'] %}
                    <th>{{ rpt._D().utl.head.w1t.params.id }}</th>
                    <th>{{ rpt._D().utl.head.w2t.params.id }}</th>
                    <th>{{ rpt._D().utl.head.w3t.params.id }}</th>
                    {% set eval_class = "info"%}
                    {% endif %}
                    {% if frame in ['monthly'] %}
                    <th class="info">{{ rpt._D().utl.head.m1t.params.id }}</th>
                    <th class="info">{{ rpt._D().utl.head.m2t.params.id }}</th>
                    <th class="info">{{ rpt._D().utl.head.m3t.params.id }}</th>
                    {% endif %}
                    <th class="{{eval_class}}">5</th>
                    <th class="{{eval_class}}">4</th>
                    <th class="{{eval_class}}">3</th>
                    <th class="{{eval_class}}">2</th>
                    <th class="{{eval_class}}">1</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rpt._D().utl.body %}
                <tr>
                    <td align="right">{{ r.seq }}.</td>
                    <td>{{ r.name }} [{{ lib.detail_link(rpt, r.own_tasks, r.detail_own_tasks) }}]</td>
                    {% if frame in ['daily', 'weekly'] %}
                    <td class="info">
                        {{ task_util(rpt, r.d1t, r.d1t_d, r.d1u, r.d1u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.d2t, r.d2t_d, r.d2u, r.d2u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.d3t, r.d3t_d, r.d3u, r.d3u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.d4t, r.d4t_d, r.d4u, r.d4u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.d5t, r.d5t_d, r.d5u, r.d5u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.d6t, r.d6t_d, r.d6u, r.d6u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.d7t, r.d7t_d, r.d7u, r.d7u_d) }}
                    </td>
                    {% endif %}
                    {% if frame in ['weekly'] %}
                    <td>
                        {{ task_util(rpt, r.w1t, r.w1t_d, r.w1u, r.w1u_d) }}
                    </td>
                    <td>
                        {{ task_util(rpt, r.w2t, r.w2t_d, r.w2u, r.w2u_d) }}
                    </td>
                    <td>
                        {{ task_util(rpt, r.w3t, r.w3t_d, r.w3u, r.w3u_d) }}
                    </td>
                    {% endif %}
                    {% if frame in ['monthly'] %}
                    <td class="info">
                        {{ task_util(rpt, r.m1t, r.m1t_d, r.m1u, r.m1u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.m2t, r.m2t_d, r.m2u, r.m2u_d) }}
                    </td>
                    <td class="info">
                        {{ task_util(rpt, r.m3t, r.m3t_d, r.m3u, r.m3u_d) }}
                    </td>
                    {% endif %}
                    <td class="{{ eval_class }}">
                        {{ lib.detail_link(rpt, r.e5, r.e5_d) }}
                    </td>
                    <td class="{{ eval_class }}">
                        {{ lib.detail_link(rpt, r.e4, r.e4_d) }}
                    </td>
                    <td class="{{ eval_class }}">
                        {{ lib.detail_link(rpt, r.e3, r.e3_d) }}
                    </td>
                    <td class="{{ eval_class }}">
                        {{ lib.detail_link(rpt, r.e2, r.e2_d) }}
                    </td>
                    <td class="{{ eval_class }}">
                        {{ lib.detail_link(rpt, r.e1, r.e1_d) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ lib.profile_stat(rpt, stat) }}
{% endblock %}
