{% import 'macro.html' as lib %}
{% extends "base.html" %}
{% set title = "Отчет по задачам" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-muted">#</th>
                    <th>Задача</th>
                    <th>Содержание</th>
                    <th>Создана</th>
                    <th>Инициатор</th>
                    <th>Сервис</th>
                    <th>Исполнители</th>
                    <th nowrap>{{ lib.mark_title('ЧЧ', 'Все трудозатраты по заявке')}}</th>
                    <th nowrap>{{ lib.mark_title('План', 'Срок выполнения, план')}}</th>
                </tr>
            </thead>
            <tbody>
                {% set body = rpt._D().body.values() %}
                {% for rec in body%}
                <tr>
                    <td align="right" class="text-muted">{{loop.index}}.</td>
                    <td nowrap>{{ lib.ticket_link(rec.task_id) }}</td>
                    <td>{{ rec.task_name|truncate(70) }}  <small class="text-muted">{% if rec.task_descr %}{{(rec.task_descr)|truncate(200)}}{% endif %}</small></td>
                    <td nowrap>{{ lib.mark_date(rec.created) }}</td>
                    <td>{{ rec.creator }}</td>
                    <td>{{ lib.mark_service(rec.parent_service, rec.service) }}</td>
                    <td nowrap>
                        {% for val in rec.executors %}
                            {{ val }} <br>
                        {% endfor %}
                    </td>
                    <td align="right">{% if rec.minutes %}{{(rec.minutes/60)|round(2) }} {% endif %}</td>
                    <td nowrap>
                    {% if rec.deadline %}
                        {{ lib.mark_date(rec.created) }}
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tfoot>
                    <th colspan="7"></th>
                    <th align="right">{{ (body|sum(attribute='minutes')/60)|round(1) }}</th>
                    <th></th>
                </tfoot>
            </tbody>
        </table>
    </div>
</div>
{{ lib.profile_stat(rpt, stat) }}
{% endblock %}